h2 {
    color: #A80000;
}
.clear {
    color: #333;
    background-color: #eee;
    margin-bottom: 12px;
    padding: 1rem;
    font-size: 1rem;
}
.clear:hover {
    color: white;
    cursor: pointer;
    background-color: #42545C;
}